			<!-- ======================= dashboard Detail ======================== -->

				<div class="collapse" id="MobNav">
					<div class="goodup-dashboard-nav sticky-top">
						<div class="goodup-dashboard-inner">
							<ul data-submenu-title="Main Navigation">
								<li class="{{style|default('')}}"><a href="{{ path('app_dashboard')}}"><i class="lni lni-dashboard me-2"></i>Dashboard</a></li>
								<li class="{{style2|default('')}}"><a href="{{ path('app_mesAnnonces')}}"><i class="lni lni-files me-2"></i>Mes annonces</a></li>
								<li class="{{style3|default('')}}"><a href="{{ path('app_annonce')}}"><i class="lni lni-add-files me-2"></i>Ajouter une annonce</a></li>
								<li><a href="dashboard-saved-listings.html"><i class="lni lni-bookmark me-2"></i>Annonces favorites</a></li>
								<li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase me-2"></i>Mes donneurs préférés<span class="count-tag bg-warning">4</span></a></li>
								<li><a href="dashboard-wallet.html"><i class="lni lni-mastercard me-2"></i>Mes statistiques</a></li>
								<li><a href="dashboard-messages.html"><i class="lni lni-envelope me-2"></i>Messages<span class="count-tag">4</span></a></li>
							</ul>
							<ul data-submenu-title="My Accounts">

								<li class="{{style8|default('')}}"><a href="{{ path('app_myProfile')}}"><i class="lni lni-user me-2"></i>Mon profil </a></li>
								<li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt me-2"></i>Changer votre mot de passe</a></li>
								<li><a href="javascript:void(0);"><i class="lni lni-trash-can me-2"></i>Supprimer le compte</a></li>
								<li><a href="{{ path('app_logout')}}"><i class="lni lni-power-switch me-2"></i>Déconnexion</a></li>

							</ul>
						</div>					
					</div>
				</div>

                
				
				