 <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
        <header>    
            <!-- Start Navigation -->
			<div class="header header-light dark-text head-shadow">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="{{ path('app_accueil')}}">
								<img src="/assets/img/logoSimple.png" class="logo" alt="logo lebondon" />
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
								<li>
									<a href="login" class="crs_yuo12 w-auto text-dark gray">
										<span class="embos_45"><i class="lni lni-power-switch mr-1 mr-1"></i>Se déconnecter</span>
									</a>
								</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
							
								<li class="active"><a href="{{ path('app_accueil')}}">Accueil</a>

								</li>
								
								<li><a href="javascript:void(0);">Listings</a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="javascript:void(0);">Grid Layout</a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="listing-search-v1.html">With Sidebar V1</a></li>
												<li><a href="listing-search-v2.html">With Sidebar V2</a></li>
												<li><a href="listing-search-v3.html">With Sidebar V3</a></li>
												<li><a href="listing-search-with-map.html">Full Width + Map</a></li>
											</ul>
										</li>
										<li><a href="javascript:void(0);">List Layout</a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="listing-search-v4.html">With Sidebar</a></li>
												<li><a href="listing-search-v5.html">Full Width</a></li>
												<li><a href="listing-search-with-map.html">Full Width With Map</a></li>
											</ul>
										</li>
										<li><a href="javascript:void(0);">Map Styles</a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="half-map-search-1.html">Search On Map V1</a></li>
												<li><a href="half-map-search-2.html">Search On Map V2</a></li>
												<li><a href="half-map-search-3.html">Search On Map V3</a></li>
											</ul>
										</li>
										<li><a href="javascript:void(0);">Single Listing</a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="single-listing-detail-1.html">Single Listing V1</a></li>
												<li><a href="single-listing-detail-2.html">Single Listing V2</a></li>
												<li><a href="single-listing-detail-3.html">Single Listing V3</a></li>
												<li><a href="single-listing-detail-4.html">Single Listing V4</a></li>
												<li><a href="single-listing-detail-5.html">Single Listing V5</a></li>
												<li><a href="single-listing-detail-6.html">Single Listing V6</a></li>
												<li><a href="single-listing-detail-7.html">Single Listing V7</a></li>
												<li><a href="single-listing-detail-8.html">Single Listing V8</a></li>
											</ul>
										</li>
										<li><a href="author-detail.html">Author Detail</a>
									</ul>
								</li>
								
								<li><a href="javascript:void(0);">User Dashboard</a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="{{ path('app_dashboard')}}"><i class="lni lni-dashboard me-2"></i>Dashboard</a></li>


										<li><a href="dashboard-my-listings.html"><i class="lni lni-files me-2"></i>Mes annonces</a></li>
										<li><a href="{{ path('app_annonce')}}"><i class="lni lni-add-files me-2"></i>Faire un don</a></li>
										<li><a href="dashboard-saved-listings.html"><i class="lni lni-bookmark me-2"></i>Annonces favorites</a></li>
										<li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase me-2"></i>My Bookings<span class="count-tag bg-warning">4</span></a></li>
										<li><a href="dashboard-wallet.html"><i class="lni lni-mastercard me-2"></i>Wallet</a></li>
										<li><a href="dashboard-messages.html"><i class="lni lni-envelope me-2"></i>Messages<span class="count-tag bg-sky">4</span></a></li>
										<li><a href="{{ path('app_myProfile')}}"><i class="lni lni-user me-2"></i>Mon Profil </a></li>
										<li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt me-2"></i>Changer le mot de passe</a></li>								</ul>
								</li>
								
								<li><a href="javascript:void(0);">Pages</a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="blog.html">Blog Style</a></li>
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="pricing.html">Pricing</a></li>

										<li><a href="signup.html">S'inscrire</a></li>

										<li><a href="{{ path('app_inscription')}}">S'inscrire</a></li>

										<li><a href="{{ path('app_connexion')}}">Se connecter</a></li>
										<li><a href="privacy.html">Privacy Policy</a></li>
										<li><a href="faq.html">FAQs</a></li>
										
										<li><a href="404.html">404 Page</a></li>
									</ul>
								</li>
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-right">
								<li class="add-listing gray">

									<a href="login.html" >

									<a href="{{ path('app_logout')}}" >

										<i class="lni lni-power-switch mr-1"></i> Se déconnecter
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
        </header>