            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-transparent change-logo">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand static-logo" href="{{ path('app_accueil')}}"><img src="assets/img/logoSimple.png" class="logo" alt="" /></a>
							<a class="nav-brand fixed-logo" href="{{ path('app_accueil')}}"><img src="assets/img/logoSimple.png" class="logo" alt="" /></a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li>
										<a href="#" data-bs-toggle="modal" data-bs-target="#login" class="theme-cl fs-lg">
											<i class="lni lni-user"></i>
										</a>
									</li>
									<li>
										<a href="{{ path('app_inscription')}}" class="crs_yuo12 w-auto text-white theme-bg">
											<span class="embos_45"><i class="fas fa-plus me-2"></i>Ajouter une annonce</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
								<li class="active"><a href="{{ path('app_accueil')}}">Accueil</a></li>								
								<li><a href="{{ path('app_search')}}"><span class="blackColor">Recherche</span></a>
								</li>
								
								<li><a href="{{ path('app_dashboard')}}"><span class="blackColor">Tableau de bord</span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="{{ path('app_dashboard')}}"><i class="lni lni-dashboard me-2"></i>Mon compte</a></li>
										<li><a href="{{ path('app_mesAnnonces')}}"><i class="lni lni-files me-2"></i>Mes annonces</a></li>
										<li><a href="{{ path('app_annonce')}}"><i class="lni lni-add-files me-2"></i>Faire un don</a></li>
										<li><a href="dashboard-saved-listings.html"><i class="lni lni-bookmark me-2"></i>Mes annonces favorites</a></li>
										<li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase me-2"></i>My Bookings<span class="count-tag bg-warning">4</span></a></li>
										<li><a href="dashboard-wallet.html"><i class="lni lni-mastercard me-2"></i>Wallet</a></li>
										<li><a href="dashboard-messages.html"><i class="lni lni-envelope me-2"></i>Messages<span class="count-tag bg-sky">4</span></a></li>
										<li><a href="{{ path('app_myProfile')}}"><i class="lni lni-user me-2"></i>Mon profil</a></li>
										<li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt me-2"></i>Change Password</a></li>
									</ul>
								</li>								
							</ul>
							<ul class="nav-menu nav-menu-social align-to-right">
								
									<a href="{{ path('app_connexion')}}" data-bs-toggle="modal" data-bs-target="{{ path('app_connexion')}}" class="ft-bold">
										<i class="fas fa-sign-in-alt me-2 theme-cl"></i><span class="blackColor police">Se connecter</span>
									</a>
								
								
									<a href="{{ path('app_inscription')}}" data-bs-toggle="modal" data-bs-target="{{ path('app_inscription')}}" class="ft-bold">
										<i class="fas fa-sign-in-alt me-2 theme-cl"></i><span class="blackColor police">S'inscrire</span>
									</a>
								
								<li class="add-listing">
									<a href="{{ path('app_annonce')}}" >
										<i class="fas fa-plus me-2"></i>Faire un don
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->