 <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
        <header>    
            <!-- Start Navigation -->
			<div class="header header-light dark-text head-shadow">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="{{ path('app_accueil')}}">
								<img src="/assets/img/logoSimple.png" class="logo" alt="logo lebondon" />
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
								<li>
									<a href="login" class="crs_yuo12 w-auto text-dark gray">
										<span class="embos_45"><i class="lni lni-power-switch mr-1 mr-1"></i>Se déconnecter</span>
									</a>
								</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
								<li class="active"><a href="{{ path('app_accueil')}}">Accueil</a>
								</li>
								<li><a href="{{ path('app_search')}}">Recherche</a>
								</li>
								<li><a href="javascript:void(0);">Tableau de bord</a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="{{ path('app_dashboard')}}"><i class="lni lni-dashboard me-2"></i>Tableau de bord</a></li>
										<li><a href="{{path('app_mesAnnonces')}}"><i class="lni lni-files me-2"></i>Mes annonces</a></li>
										<li><a href="{{path('app_annonce')}}"><i class="lni lni-add-files me-2"></i>Faire un don</a></li>
										<li><a href="{{ path('app_myProfile')}}"><i class="lni lni-user me-2"></i>Mon Profil </a></li>
										<li><a href="{{ path('app_compteMdp')}}"><i class="lni lni-lock-alt me-2"></i>Changer le mot de passe</a></li>								</ul>
								</li>
							</ul>
							<ul class="nav-menu nav-menu-social align-to-right">
								<li class="add-listing gray">
									<a href="{{ path('app_logout')}}" >Se déconnecter
										<i class="lni lni-power-switch mr-1"></i> 
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
        </header>