{% extends 'base.html.twig' %}

{% block title %}Lebondon{% endblock %}

{% block body %}

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader"></div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

	{% include 'commun/navbarUtilisateurConnecte.html.twig' %}

	<!-- ============================================================== -->
	<!-- Top header  -->
	<!-- ============================================================== -->

	<!-- ============================ Main Section Start ================================== -->
	<section class="gray py-5">
		<div class="container-fluid">
			<div class="row">



				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
					<div class="bg-white rounded mb-4">

						<div
							class="sidebar_header d-flex align-items-center justify-content-between px-4 py-3 br-bottom">
							<h4 class="ft-medivaliderum fs-lg mb-0">Filtres</h4>
							<div class="ssh-header">
								<a href="{{ path('app_search')}}" class="clear_all ft-medium text-muted">Effacer</a>
								<a href="#search_open" data-bs-toggle="collapse" aria-expanded="false" role="button"
									class="collapsed _filter-ico ml-2"><i class="lni lni-text-align-right"></i></a>
							</div>
						</div>

						<!-- Find New Property -->
						<div class="sidebar-widgets collapse miz_show" id="search_open" data-bs-parent="#search_open">
							<div class="search-inner">
								<div class="side-filter-box">
									{{ form_start(formRecherche) }}
									<div class="side-filter-box-body">
										<div class="inner_widget_link">
											<div class="mb-3">
												<label for="exampleFormControlInput1" class="form-label">Que
													recherchez-vous?</label>
												<div>{{ form_row(formRecherche.mots) }}</div>
											</div>
										</div>
										<!-- Price Range -->
									{#	<div class="inner_widget_link">
											<div class="mb-3">
												<label for="exampleFormControlInput1" class="form-label">Où
													recherchez-vous?</label>
												<div>{{ form_row(formRecherche.adresse) }}</div>
											</div>
										</div>
									#}
										<div class="inner_widget_link">
											<div class="mb-3">
												<label for="exampleFormControlInput1" class="form-label">Où
													recherchez-vous?</label>
												<div>{{ form_row(formRecherche.ville) }}</div>
												
											</div>
										</div>
									{#  <div class="inner_widget_link">
											<div class="mb-3">
												<label for="exampleFormControlInput1" class="form-label">Où
													recherchez-vous?</label>
												<div>{{ form_row(formRecherche.departement) }}</div>
											</div>
										</div>
									#}
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label class="mb-1">Catégories :</label>
												{{ form_row(formRecherche.categorie) }}
											</div>
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label class="mb-1"></label>

												<!--% 
														if search_annonce[idCategorie] != null %}
																% for nomSouscat in sousCategorie %}
																	{nomSouscat.nomSousCategorie}}
																% endfor %}
														% endif %}-->
											</div>
										</div>
										<!-- Disponibilité -->
										<div class="inner_widget_link">
											<h6 class="ft-medium">Disponibilité</h6>
											<ul class="no-ul-list filter-list">
												{{ form_row(formRecherche.idDisponibilite) }}
											</ul>
										</div>
										<!-- État objet -->
										<div class="inner_widget_link">
											<h6 class="ft-medium">État objet</h6>
											<ul class="no-ul-list filter-list">
												{{ form_row(formRecherche.idEtat) }}
											</ul>
										</div>
										<div class="form-group filter_button">
											{{ form_row(formRecherche.rechercher) }}
										</div>
									</div>
									{{ form_end(formRecherche) }}
								</div>

							</div>
						</div>

					</div>
					<!-- Sidebar End -->

				</div>

				<!-- Item Wrap Start -->
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">

					<!-- row -->
					<div class="row justify-content-center gx-3">

						{% for annonce in annonces %}
						<!-- Single -->
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
							<div class="Goodup-grid-wrap">
								<div class="Goodup-grid-upper">
									<div class="Goodup-bookmark-btn"><button type="button"><i
												class="lni lni-heart-filled position-absolute"></i></button></div>
									<div class="Goodup-pos ab-left">
										<div class="Goodup-status open me-2">active</div>
										<div class="Goodup-featured-tag">trop tard</div>
									</div>
									<div class="Goodup-grid-thumb">
										<a href="/view-annonce/{{annonce.idAnnonce}}"
											class="d-block text-center m-auto">
											{% for item in image %}
											{% if (item.idAnnonce.idAnnonce == annonce.idAnnonce)%}
											<img src="image/{{item.nomImage}}" class="card-img-top" alt="">
											{% endif %}
											{% endfor %}
									</div>
								</div>

								<div class="Goodup-grid-fl-wrap">
									<div class="Goodup-caption px-3 py-2">
										<div class="Goodup-author"><a href="author-detail.html"><img
													src="image/{{annonce.idUtilisateur.photoUtilisateur}}"
													class="img-fluid circle"
													alt="{{annonce.idUtilisateur.pseudoUtilisateur}}" /></a></div>
										<div class="Goodup-cates"><a href="search.html">Wedding</a></div>
										<h4 class="mb-0 ft-medium medium"><a href="/view-annonce/{{annonce.idAnnonce}}"
												class="text-dark fs-md">
												{{annonce.titreAnnonce}}
												<span class="verified-badge">
													<i class="fas fa-check-circle"></i>
												</span></a></h4>
										<div class="Goodup-middle-caption mt-3">
											<div class="Goodup-location"><i
													class="fas fa-map-marker-alt"></i>{{annonce.idVille.nomVille}}
											</div>
											<div class="Goodup-location"><i
													class="fas fa-list"></i>{{annonce.idSousCategorie.nomSousCategorie}}
											</div>
											<div class="Goodup-location"><i
													class="fas fa-list"></i>{{annonce.idEtat.nomEtat}}
											</div>

											<div class="Goodup-middle-caption mt-3">
												<p>
													{{ annonce.descriptionAnnonce|length > 75 ?
													annonce.descriptionAnnonce|striptags|slice(0, 75) ~ '...' :
													annonce.descriptionAnnonce|raw }}
												</p>
											</div>
										</div>
									</div>
									<div class="Goodup-grid-footer py-3 px-3">
										<div class="Goodup-ft-first">
											<div class="Goodup-rating">
												<div class="Goodup-pr-average high">4.3</div>
												<div class="Goodup-rates">
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>
										</div>
										<div class="Goodup-ft-last">
											<span class="small">{{ annonce.dateCreationAnnonce|date("d/m/Y,  H:i") }}</span>
										</div>
									</div>
								</div>

							</div>
						</div>
						{% endfor %}

					</div>
					<!-- /row -->

					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span class="fas fa-arrow-circle-right"></span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item active"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">...</a></li>
								<li class="page-item"><a class="page-link" href="#">18</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span class="fas fa-arrow-circle-right"></span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- ============================ Main Section End ================================== -->

	<!-- ======================= Newsletter Start ============================ -->
	<section class="space bg-cover" style="background:#03343b url(assets/img/landing-bg.png) no-repeat;">
		<div class="container py-5">

			<div class="row justify-content-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="sec_title position-relative text-center mb-5">
						<h6 class="text-light mb-0">Subscribr Now</h6>
						<h2 class="ft-bold text-light">Get All Updates & Advance Offers</h2>
					</div>
				</div>
			</div>

			<div class="row align-items-center justify-content-center">
				<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
					<form class="bg-white rounded p-1">
						<div class="row no-gutters">
							<div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
								<div class="form-group mb-0 position-relative">
									<input type="text" class="form-control b-0" placeholder="Enter Your Email Address">
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
								<div class="form-group mb-0 position-relative">
									<button class="btn full-width btn-height theme-bg text-light fs-md"
										type="button">Subscribe</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</section>
	<!-- ======================= Newsletter Start ============================ -->

	<!-- ============================ Footer Start ================================== -->
	<footer class="light-footer skin-light-footer style-2">
		<div class="footer-middle">
			<div class="container">
				<div class="row">

					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
						<div class="footer_widget">
							<img src="assets/img/logo.png" class="img-footer small mb-2" alt="" />

							<div class="address mt-2">
								7742 Sadar Street Range Road, USA<br>United Kingdom GHQ11
							</div>
							<div class="address mt-3">
								40 568 423 6597<br>support@Goodup.com
							</div>
							<div class="address mt-2">
								<ul class="list-inline">
									<li class="list-inline-item"><a href="#" class="theme-cl"><i
												class="lni lni-facebook-filled"></i></a></li>
									<li class="list-inline-item"><a href="#" class="theme-cl"><i
												class="lni lni-twitter-filled"></i></a></li>
									<li class="list-inline-item"><a href="#" class="theme-cl"><i
												class="lni lni-youtube"></i></a></li>
									<li class="list-inline-item"><a href="#" class="theme-cl"><i
												class="lni lni-instagram-filled"></i></a></li>
									<li class="list-inline-item"><a href="#" class="theme-cl"><i
												class="lni lni-linkedin-original"></i></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
						<div class="footer_widget">
							<h4 class="widget_title">Main Navigation</h4>
							<ul class="footer-menu">
								<li><a href="#">Explore Listings</a></li>
								<li><a href="#">Browse Authors</a></li>
								<li><a href="#">Submit Listings</a></li>
								<li><a href="#">Shortlisted</a></li>
								<li><a href="#">Dashboard</a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
						<div class="footer_widget">
							<h4 class="widget_title">Business Owners</h4>
							<ul class="footer-menu">
								<li><a href="#">Browse Categories</a></li>
								<li><a href="#">Payment Links</a></li>
								<li><a href="#">Saved Places</a></li>
								<li><a href="#">Dashboard</a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
						<div class="footer_widget">
							<h4 class="widget_title">About Company</h4>
							<ul class="footer-menu">
								<li><a href="#">Who We'r?</a></li>
								<li><a href="#">Our Mission</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Packages</a></li>
								<li><a href="#">Dashboard</a></li>
							</ul>
						</div>
					</div>

					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
						<div class="footer_widget">
							<h4 class="widget_title">Helpful Topics</h4>
							<ul class="footer-menu">
								<li><a href="#">Site Map</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">FAQ's Page</a></li>
								<li><a href="#">Privacy</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>

		
	</footer>
	<!-- ============================ Footer End ================================== -->

	<!-- Log In Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
		<div class="modal-dialog login-pop-form" role="document">
			<div class="modal-content" id="loginmodal">
				<div class="modal-headers">
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span class="ti-close"></span>
					</button>
				</div>

				<div class="modal-body p-5">
					<div class="text-center mb-4">
						<h4 class="m-0 ft-medium">Login Your Account</h4>
					</div>

					<form class="submit-form">
						<div class="form-group">
							<label class="mb-1">User Name</label>
							<input type="text" class="form-control rounded bg-light" placeholder="Username*">
						</div>

						<div class="form-group">
							<label class="mb-1">Password</label>
							<input type="password" class="form-control rounded bg-light" placeholder="Password*">
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-between">
								<div class="flex-1">
									<input id="dd" class="checkbox-custom" name="dd" type="checkbox" checked>
									<label for="dd" class="checkbox-custom-label">Remember Me</label>
								</div>
								<div class="eltio_k2">
									<a href="#" class="theme-cl">Lost Your Password?</a>
								</div>
							</div>
						</div>

						<div class="form-group">
							<button type="submit"
								class="btn btn-md full-width theme-bg text-light rounded ft-medium">Sign In</button>
						</div>

						<div class="form-group text-center mb-0">
							<p class="extra">Or login with</p>
							<div class="option-log">
								<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img
											src="https://via.placeholder.com/200x200" class="img-fluid" alt="" />Login
										with Google</a></div>
								<div class="single-log-opt"><a href="javascript:void(0);" class="log-btn"><img
											src="assets/img/facebook.png" class="img-fluid" alt="" />Login with
										Facebook</a></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal -->

	<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- footer -->
<div class="row">
	<div class="col-md-12 text-center">
		<div class="py-3">© Lebondon 2022</div>
	</div>
</div>

--------------------------------------autocompletion categorie sous categorie--------------------------------------

var $categorie = $('#searchAnnonce_idCategorie');
// Quand la categorie est sélectionné...
$categorie.change(function() {
// ... récupère le formulaire correspondant.
var $form = $(this).closest('form');
// Simulez les données du formulaire, mais n'incluez que la valeur categorie sélectionnée.
var data = {};
data[$categorie.attr('name')] = $categorie.val();
// Soumettez les données via AJAX au chemin d'action du formulaire
$.ajax({
url : $form.attr('action'),
type: $form.attr('method'),
data : data,
complete: function(html) {
// Remplacer le champ de position actuelle ...
$('#searchAnnonce_idSousCategorie').replaceWith(
// ... avec celui renvoyé par la réponse AJAX.
$(html.responseText).find('#searchAnnonce_idSousCategorie')
);
// Le champ Position affiche maintenant les positions appropriées.
}
});
});
#}



{% endblock %}