{% extends 'base.html.twig' %}

{% block title %}Lebondon{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.2.0/dist/axentix.min.css">
{% include 'commun/navbarNonConnecte.html.twig' %}

<div class="home-banner arriere-plan">			
	<div class=" container">
		<div class="row justify-content-center">
			<div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">

				<div class="banner_caption text-center mb-5">
					<h1 class="banner_title ft-bold mb-1">Bienvenue sur LE BON DON</h1>
					<h2 class="fs-md ft-medium">Donnez une seconde vie à vos objets</h2>
				</div>
{{ form_start(formSearch) }}	
				<div class="main-search-wrap fl-wrap">
					<div class="main-search-item">
						<span class="search-tag"><i class="lni lni-keyboard"></i></span>
						
						<div style="font-size:18px" >
					{{ form_row(formSearch.mots) }}
						</div>
					
					</div>
					<div class="main-search-item">
						<span class="search-tag"><i class="lni lni-map-marker"></i></span>
						<input type="text" class="form-control" style="font-size:18px" placeholder="Saisissez la ville" />
					</div>
					<div class="main-search-item">
						{{ form_row(formSearch.categorie) }} 
					</div>
					<div class="main-search-button">
						{{ form_row(formSearch.rechercher) }}	
					</div>
				</div>
{{ form_end(formSearch) }}
			</div>
		</div>
	</div>
</div>



	<!-- ======================= All Types Listing ======================== -->
		<section class="space min">
			
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h2 class="ft-bold">Dernières annonces ...</h2>
							</div>
						</div>
					</div>
					
					<!-- row -->
					<div class="row align-items-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="tab-content" id="myTabContent">
								<!-- Places -->
								<div class="tab-pane fade show active" id="places" role="tabpanel" aria-labelledby="places-tab">
									<div class="row justify-content-center">
		{% for annonce in derniereAnnonce %}	
				
										<!-- Single -->
										<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
											<div class="Goodup-grid-wrap">
												<div class="Goodup-grid-upper">
													<div class="Goodup-pos ab-left">
														<div class="Goodup-status close me-2">Closed</div>
													</div>
													<div class="Goodup-grid-thumb">
														<a href="single-listing-detail-2.html" class="d-block text-center m-auto">
															
											{% for item in imag %}
												{% if (item.idAnnonce.idAnnonce == annonce.idAnnonce)%}
													<img src="image/{{item.nomImage}}" class="card-img-top" alt="">	
												{% endif %}
											{% endfor %}
														</a>
													</div>
												</div>
												<div class="Goodup-grid-fl-wrap">
													<div class="Goodup-caption px-3 py-2">
														<div class="Goodup-author">
															<a href="author-detail.html">
																<img src="image/{{annonce.idUtilisateur.photoUtilisateur}}" 
																		class="img-fluid circle" 
																		alt="{{annonce.idUtilisateur.pseudoUtilisateur}}">
															</a>
														</div>
														<h4 class="mb-0 ft-medium medium">
															<a href="single-listing-detail-2.html" 
																class="text-dark fs-md">{{annonce.titreAnnonce}}
																</a>
														</h4>
														<div class="Goodup-location">
															<i class="fas fa-map-marker-alt me-1 theme-cl">
															</i>
															{{annonce.idVille.nomVille}}
														</div> 
														<div class="Goodup-middle-caption mt-3">
															{{ annonce.descriptionAnnonce|length > 75 ? annonce.descriptionAnnonce|striptags|slice(0, 100) ~ '...' : annonce.descriptionAnnonce|raw  }}
														</div>
													</div>
													<div class="Goodup-grid-footer py-2 px-3">
														<div class="Goodup-ft-first">
															<a href="half-map-search-2.html"><div class="cats-ico bg-2"></div><span class="cats-title">{{annonce.idSousCategorie.nomSousCategorie}}</span></a>
														</div>
														<div class="Goodup-ft-last">
															<div class="Goodup-inline">
																<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute" data-target="modale-contact"></i></button></div>
																<div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

		{% endfor %}
					</div>
					<!-- /row -->
					
				</div>
			
		</section>
	<!-- ======================= All Types Listing ======================== -->

	<!-- ======================= Listing Categories ======================== -->
	<section class="space min gray">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="sec_title position-relative text-center mb-5">
						<h2 class="ft-bold">Top catégories</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
{% for annonce in NbreAnnonceParCategorie %}
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					<div class="cats-wrap text-center">
								{% if annonce.nomCategorie == 'Bricolage' %}
								<div class="Goodup-catg-icon"><i class="fas fa-wrench"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Divers' %}
								<div class="Goodup-catg-icon"><i class="fas fa-unlink"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Jardinage' %}
								<div class="Goodup-catg-icon"><i class="fas fa-carrot"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Maison' %}
								<div class="Goodup-catg-icon"><i class="fas fa-house-damage"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Mode, vêtement, accessoire' %}
								<div class="Goodup-catg-icon"><i class="fas fa-tshirt"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Multimédia' %}
								<div class="Goodup-catg-icon"><i class="fas fa-headset"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Sport, loisir et culture' %}
								<div class="Goodup-catg-icon"><i class="fas fa-basketball-ball"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Univers Bébé' %}
								<div class="Goodup-catg-icon"><i class="fas fa-baby-carriage"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Véhicule' %}
								<div class="Goodup-catg-icon"><i class="fas fa-car-alt"></i></div>{% endif %}
								{% if annonce.nomCategorie == 'Animaux' %} 
								<div class="Goodup-catg-icon"><i class="fas fa-cat"></i></div>{% endif %}
						<a href="" class="Goodup-catg-wrap">
							<div class="Goodup-catg-caption">
								<h4 class="fs-md mb-0 ft-medium m-catrio">{{annonce.nomCategorie}}</h4>
								<span class="text-muted"><p> {{annonce.tot}} Annonces</p>
								</span>
								
							</div>
						</a>
					</div>
				</div>
{% endfor %}
</div>
	</section>
				<div class="row">
						<div class="col-md-12">
							<div class="py-3">© Lebondon 2022</div>
						</div>
					</div>

					<div class="modal shadow-1 white modal-falling" id="modale-contact" data-ax="modal">
  <div class="modal-header">Contacter l'annonceur</div>
  <div class="divider"></div>
  {{ form_start(form) }}
  <div class="modal-content">
  {{ form_widget(form.title) }}
  {{ form_row(form.email) }}
  {{ form_row(form.message) }}
  </div>

  <div class="divider"></div>
  <div class="modal-footer">
	<button class="btn btn-danger">Envoyer</button>
    <button data-target="modale-contact" class="ml-auto btn shadow-1 rounded-1 btn btn-danger">Fermer</button>
  </div>
  {{ form_end(form) }}
</div>
	
	<!-- ======================= Listing Categories End ======================== -->
<!-- footer -->
	
{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axentix@2.2.0/dist/axentix.min.js"></script>
<script>
	window.onload = () => {
		document.querySelector("#annonce_contact_title").value = "{{ annonce[0].titreAnnonce }}"
	}
	let modal = new Axentix.Modal('#modale-contact');
	
</script>
{% endblock %}