{% extends 'base.html.twig' %}


{% block title %}DashboardController!{% endblock %}


{% block body %}


		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
			
			{% include 'commun/navbarUtilisateurConnecte.html.twig' %}
			<!-- =============================== Dashboard Header ========================== -->
		
            {% include 'commun/dashboardHeader.html.twig' %}
			
			<!-- ======================= dashboard Detail ======================== -->
			<div class="goodup-dashboard-wrap gray px-4 py-5">
				<a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
					<i class="fas fa-bars me-2"></i>Dashboard Navigation
				</a>

			{% include 'commun/leftNavbarDashboard.html.twig' %}

				<div class="goodup-dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Bonjour {{pseudo|capitalize}}</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item text-muted"><a href="{{ path('app_accueil')}}">Accueil</a></li>
										<li class="breadcrumb-item"><a href="{{ path('app_dashboard')}}" class="theme-cl">Tableau de bord</a></li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					
					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dsd-boxed-widget py-5 px-4 bg-danger rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light count"> {{ contenuAnnonce|length }} </h2>
									<p class="p-0 m-0 text-light fs-md">Annonces actives</p>
									<i class="lni lni-empty-file"></i>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dsd-boxed-widget py-5 px-4 bg-success rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light count">2615</h2>
									<p class="p-0 m-0 text-light fs-md">Views Listing</p>
									<i class="lni lni-eye"></i>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dsd-boxed-widget py-5 px-4 bg-warning rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light count">312</h2>
									<p class="p-0 m-0 text-light fs-md">Total Reviews</p>
									<i class="lni lni-comments"></i>
								</div>
							</div>
							<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
								<div class="dsd-boxed-widget py-5 px-4 bg-purple rounded">
									<h2 class="ft-medium mb-1 fs-xl text-light count">410</h2>
									<p class="p-0 m-0 text-light fs-md">Total Bookings</p>
									<i class="lni lni-wallet"></i>
								</div>
							</div>
						</div>

					<!-- footer -->
					<div class="row">
						<div class="col-md-12">
							<div class="py-3">© Lebondon 2022</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- ======================= dashboard Detail End ======================== -->
			
			<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

{% for notice in app.flashes('notice') %}
    {{ notice|raw }}
{% endfor %}

{% for notice3 in app.flashes('notice3') %}
    {{ notice3|raw }}
{% endfor %}

{% for message in app.flashes('message') %}
    {{ message|raw }}
{% endfor %}

{% endblock %}