{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader"></div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
	<!-- =============================== Dashboard Header ========================== -->
	{% include 'commun/navbarUtilisateurConnecte.html.twig' %}
	<!-- =============================== Dashboard Header ========================== -->

	{% include 'commun/dashboardHeader.html.twig' %}

	<!-- ======================= dashboard Detail ======================== -->
	<div class="goodup-dashboard-wrap gray px-4 py-5">
		<a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false"
			aria-controls="MobNav">
			<i class="fas fa-bars me-2"></i>Tableau
		</a>

		{% include 'commun/leftNavbarDashboard.html.twig' %}

		<div class="goodup-dashboard-content">
			<div class="dashboard-tlbar d-block mb-5">
				<div class="row">
					<div class="colxl-12 col-lg-12 col-md-12">
						<h1 class="ft-medium">Mes annonces</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item text-muted"><a href="{{ path('app_accueil')}}">Accueil</a>
								</li>
								<li class="breadcrumb-item text-muted"><a
										href="{{ path('app_dashboard')}}">Tableau de bord</a></li>
								<li class="breadcrumb-item"><a href="#" class="theme-cl">Mes Annonces</a></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>

			<div class="dashboard-widg-bar d-block">
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="dashboard-list-wraps bg-white rounded mb-4">
							<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
								<div class="dashboard-list-wraps-flx">
									<h3 class="mb-0 ft-medium fs-md"><i
											class="fa fa-file-alt me-2 theme-cl fs-sm"></i>Annonces de
										{{prenom|capitalize}} {{nom|capitalize}} </h3>
									<h4 class="mb-0 ft-small fs-sm"> Vous avez {{ mesAnnonces|length }} annonce(s) en
										ligne</h4>
								</div>
							</div>
{% for annonce in mesAnnonces %}
							<div class="dashboard-list-wraps-body py-3 px-3">
								<div class="dashboard-listing-wraps">
									<!-- Single Listing Item -->
									<div class="dsd-single-listing-wraps">
										<div class="dsd-single-lst-thumb border border-secondary">
											{% if annonce.nomImage == null %}
											<img src="assets/img/logoComplet.png" class="card-img-top" alt="">
											{% else %}
											<img src="image/{{annonce.nomImage}}" class="card-img-top" alt="">
											{% endif %}
										</div>
									</div>
									<div class="dsd-single-lst-caption">
										<div class="dsd-single-lst-title">
											<h5>{{annonce[0].titreAnnonce|capitalize}}</h5>
										</div>
										<span class="agd-location"><i
												class="lni lni-map-marker me-1"></i>{{annonce.nomVille|capitalize}}
										</span>
										<br>
										<span><i class="fas fa-list"></i> 
										{{annonce.nomCategorie|capitalize}} ->
										{{annonce.nomSousCategorie|capitalize}}
										</span>
										
										<div>
											<div class="Goodup-ft-first">
												{{ annonce[0].descriptionAnnonce|length > 75 ?
												annonce[0].descriptionAnnonce|striptags|slice(0, 100) ~ '...' :
												annonce[0].descriptionAnnonce|raw }}
											</div>
										</div>
										<div class="dsd-single-lst-footer">
											<a href="/update-annonce/{{annonce[0].idAnnonce}};"
												class="btn btn-edit mr-1"><i class="fas fa-edit me-1"></i>Modifier</a>
											<a href="/view-annonce/{{annonce[0].idAnnonce}}"
												class="btn btn-view mr-1"><i class="fas fa-eye me-1"></i>Voir</a>
											<a href="/dashboard/delete-annonce/{{annonce[0].idAnnonce}}"
												class="btn btn-delete"><i class="fas fa-trash me-1"></i>Supprimer</a>
										</div>
									</div>
								</div>
							</div>
{% endfor %}
						</div>	
					</div>
				</div>
			</div>

			<!-- footer -->
			<div class="row">
				<div class="col-md-12">
					<div class="py-3">© Lebondon 2022.</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ======================= dashboard Detail End ======================== -->
	<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
</div>
{% endblock %}